* {
  font-family: sans-serif;
}

.container {
	display: grid;
	grid-template-columns: 3.5fr 6.5fr;
	grid-template-rows: 1fr 2fr 1fr;
	grid-gap: 20px;
	padding: 50px;
}

.general {
	grid-column: 1 / 3;
	background-color: #3891DF;
	display:flex;
	flex-direction: row;
	justify-content: center;	
	align-items: center;
	border-radius: 20px;
}

.subtitle {
	color: #67A7DF;
	font-size: 18px;
}

.vaardigheden {
	color: #67A7DF;
}

.info {
	width: 400px;
}

.emailphone {
	color:white;
}

.skills {
	grid-column: 1 / 2;
	grid-row: 2 / 4;
	padding-right: 10px;
	border-right: 1px solid #67A7DF;
}

.experience {
	grid-column: 2 / 3;
}

.education {
	grid-column: 2 / 3;
}

ul {
	list-style: none;
}

.interesses {
	list-style-type: circle; 
}

.fa-square {
	color: #67A7DF;
	float: right;
	padding-left: 2px;
}

@media only screen and (max-width: 700px) {
	.container { 
		display: flex;
		flex-direction: column;
	}

	.fa-square {
	display: inline-block;
	margin: auto;
	}

	.general {
		display: flex;
		flex-wrap: wrap;
	}

	.skills {
		border-bottom: 1px solid #67A7DF;
		border-right: none;
		padding-bottom: 15px;
	}
}